@{
    ViewData["Title"] = "About";
}

<div style="margin-top:100px">


</div>
<p style="text-decoration-line:underline">Kullan&#305;lan Teknolojiler </p>

<p>.Net Core</p>

<p>Repository Pattern - Dependency &#304;njection </p>

<p>MVC Core </p>

<p style="text-decoration-line:underline">Proje Kodlama Ad&#305;mlar&#305;</p>

<p>&Ouml;ncelikle kullanaca&#287;&#305;m teknolojiler konusunda karar vermeliydim &ccedil;&uuml;nk&uuml; .net core ve repository pattern ile &ccedil;ok proje geli&#351;tirdi&#287;im s&ouml;ylenemez o sebepten &ouml;t&uuml;r&uuml; sunum yapaca&#287;&#305;m projede kullanmak mant&#305;kl&#305; m&#305; de&#287;il mi diye d&uuml;&#351;&uuml;nd&uuml;m.En nihayetinde hayal etmekte zorland&#305;&#287;&#305;m veya eksik oldu&#287;um noktalarda ara&#351;t&#305;rarak, projeyi tamamladim.</p>

<p>&Ccedil;ok katmanl&#305; mimari kulland&#305;m &ccedil;&uuml;nk&uuml; proje bu &#351;ekilde daha anla&#351;&#305;l&#305;r ve kolay geli&#351;tirilebilir olacakt&#305; ve &uuml;&ccedil; katman olacak &#351;ekilde geli&#351;tirdim.</p>

<p>Core katman&#305;nda her katmanda kullanaca&#287;&#305;m metodlar&#305; ve ba&#287;&#305;ml&#305;l&#305;klari (dependency) yazd&#305;m</p>

<p>Data katman&#305; veri tiplerinin modellemelerini yapt&#305;&#287;&#305;m k&#305;s&#305;m oldu </p>

<p>UI( user interface ) kullanici aray&uuml;z&uuml;n&uuml;n bulundu&#287;u katman.</p>